h1{
    text-align: center;
    font-size: 100px;
    font-family: Audiowide ;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.div {
    font-size: 30px;
    background-color: black;
    color: aliceblue;
    padding: auto;
    margin: auto;
    width: 200px;
    text-align: center;
}

img{
  display: block;
  margin: auto;
  width: 50%;   
}

button{
  background-color: #000000;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  justify-content: center;
  font-size: 120%;
}

.divimage{
  padding: 55px;
}

.divbutton{
  display: flex;
  justify-content: center;
}

